/* Display Flex */
/* контейнер для выравниваемых элементов */
.flex-container
{
    /* Направление главной оси flex-контейнера, row по умолчанию, слева направо (в rtl справа налево) */
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:      flex;
        flex-direction: row;

    -ms-flex-pack: distribute;
    justify-content: space-around;
    /* выравнивание по главной оси, блоки равномерно распределены вдоль главной оси */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* выравнивание по поперечной оси, блоки располагаются в центре поперечной оси */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1170px)
{
    .rules .small-hide
    {
        display: none;
    }
    .rules .left
    {
        padding-right: 50px;
    }
    .rules .right
    {
        padding-left: 70px;
    }
    .contacts .form-wrapper
    {
        display: block;

        margin: 0 auto;
    }
    .contacts .form-wrapper .data
    {
        width: 40%;
    }
    .contacts .form-wrapper .message
    {
        width: 54%;
    }
}
@media only screen and (max-width: 1080px)
{
    .rules .rules-list .rule div:last-child
    {
        padding: 0 40px 0 10%;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
{
    .page-nav
    {
        float: none;
        /* &.opened {
			background: #222;
			// position: absolute;
			height: 100%;
			width: 100%;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			li {
				a {
					color: #fff;
				}
			}
		} */
    }
    .page-nav li
    {
        display: block;
    }
    header .banner .sm-visible
    {
        display: block;
    }
    header .banner .banner-image
    {
        text-align: center;
    }
    header .banner .banner-content
    {
        margin: 66px 0 0 0;

        text-align: center;
    }
    header .banner .banner-content p
    {
        padding: 20px 0 267px 100px;
    }
    header .banner .banner-content a img
    {
        margin-bottom: 43px;
    }
    .rules
    {
        padding-top: 0;
    }
    .rules .small-visible
    {
        display: block;
    }
    .rules .divider,
    .rules .rules-list
    {
        display: none;
    }
    .calendar
    {
        position: static;
    }
    .contacts .side-contacts
    {
        display: block;
    }
    .contacts .side-contacts .contact-wrapper .contact-icon
    {
        display: none;
    }
    .contacts .side-contacts .contact-wrapper .share-icons a
    {
        margin-right: 10px;
    }
    .contacts .form-wrapper
    {
        width: 90%;
        padding: 40px 0;

        text-align: center;
    }
    .contacts .form-wrapper .data
    {
        float: none;

        width: 500px;
        margin: 0 auto;
    }
    .contacts .form-wrapper .data input
    {
        font-size: 22px;
    }
    .contacts .form-wrapper .message
    {
        width: 500px;
        margin: 0;
    }
    .contacts .form-wrapper .message textarea,
    .contacts .form-wrapper .message .send-message
    {
        font-size: 22px;
    }
}
@media only screen and (max-width: 920px)
{
    .rules .rules-list .rule
    {
        padding: 0 0 58px 0;
    }
    .rules .rules-list .rule div:first-child
    {
        padding: 0 0 0 30px;
    }
}
@media only screen and (max-width: 800px)
{
    .side-nav
    {
        right: 16px;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
{
    header
    {
        padding: 0 0 50px 0;
    }
    header .banner
    {
        margin-top: 50px;
    }
    header .banner .banner-image
    {
        text-align: left;
    }
    header .banner .banner-content
    {
        margin: 50px 0 0;

        text-align: center;
    }
    header .banner .banner-content p
    {
        padding: 0 0 20px 60px;
    }
    .rules .rules-list .rule div.content h2
    {
        font-size: 30px;
    }
    .rules .rules-list .rule div.content p
    {
        font-size: 25px;
    }
    .calendar
    {
        right: 30px;
    }
    .calendar .ui-datepicker-calendar td
    {
        padding: 0 6px;
    }
    .contacts .contact-content.share-icons
    {
        margin: 20px 0 0;
        padding-bottom: 60px;
    }
    /* .contacts {
		.form-wrapper {
			padding: 40px 0;
	
			.data {
				input {
					font-size: 22px;
				}
			}
			.message {
				textarea,
				.send-message {
					font-size: 22px;
				}
			}
		}
	} */
    /*Disable Animation on Mobile Devices*/
    .animated
    {
        /*CSS transitions*/
        -webkit-transition-property: none !important;
                transition-property: none !important;
        -webkit-transform: none !important;
        /*CSS transforms*/
            -ms-transform: none !important;
                transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
            -ms-animation: none !important;
                animation: none !important;
    }
}
@media only screen and (max-width: 767px)
{
    /* .contacts {
		.side-contacts {
			.flex-container;
			padding: 40px 0 0;
	
			.contact-wrapper {
				display: inline-block;
			}
		}
		
		.form-wrapper {
			display: block;
			margin: 0 auto;
			padding: 40px 0;
			width: 95%; 
	
			.data {
				width: 40%;
				input {
					font-size: 22px;
				}
			}
			.message {
				width: 52%;
				textarea {
					font-size: 22px;
				}
			}
		}
	} */
}
@media only screen and (max-width: 670px)
{
    .rules .rules-list .rule div.content h2
    {
        font-size: 24px;
    }
    .rules .rules-list .rule div.content p
    {
        font-size: 18px;
    }
}
@media only screen and (max-width: 630px)
{
    /* .registration {
		text-align: center;
		.show-register {
			display: block;
			margin: 60px auto 20px;
		}
	} */
}
@media only screen and (max-width: 600px)
{
    .registration
    {
        padding: 50px 0 64px;
    }
    .registration .reg-descr h2
    {
        font-size: 48px;
        line-height: 58px;
    }
    .registration .reg-descr .address
    {
        margin: 27px 0 30px;
    }
    .registration .reg-descr .time
    {
        font-size: 64px;
    }
    .registration .register
    {
        margin: 30px 0 0;
    }
}
@media only screen and (max-width: 580px)
{
    .contacts .form-wrapper h2
    {
        font-size: 32px;
    }
    .contacts .form-wrapper .data,
    .contacts .form-wrapper .message
    {
        width: 100%;
    }
}
@media only screen and (max-width: 530px)
{
    .rules
    {
        padding-top: 0;
    }
    .rules .small-visible .rule div.content h2
    {
        font-size: 32px;

        padding: 0 8px;
    }
    .rules .small-visible .rule div.content p
    {
        font-size: 20px;
    }
    .rules .divider
    {
        display: none;
    }
    .rules .rules-list
    {
        display: none;
    }
    /* .contacts {
		.side-contacts {
			.contact-wrapper {
				.contact-content {
					font-size: 20px;
				}
			}
		}
		.form-wrapper {
			padding: 20px 0;
			width: 80%;
	
			h2 {
				font-size: 32px;
			}
	
			.data {
				float: none;
				width: 100%;
				input {
					font-size: 22px;
				}
			}
			.message {
				margin: 0;
				width: 100%;
				textarea {
					font-size: 22px;
				}
			}
		}
	} */
}
@media only screen and (max-width: 500px)
{
    .page-nav li
    {
        display: block;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
{
    header .banner .banner-image
    {
        text-align: left;
    }
    header .banner .banner-content h1
    {
        font-size: 44px;
    }
    header .banner .banner-content p
    {
        font-size: 30px;
        line-height: 48px;

        padding: 0 0 20px 100px;
    }
    .registration
    {
        padding: 30px 0 44px;
    }
    .registration .reg-descr h2
    {
        font-size: 40px;
        line-height: 50px;
    }
    /* .contacts {
		.side-contacts {
			display: block;
			.contact-wrapper {
				display: block;
			}
		}
		.form-wrapper {
			padding: 20px 0;
			width: 80%;
	
			h2 {
				font-size: 32px;
			}
	
			.data {
				float: none;
				width: 100%;
				input {
					font-size: 22px;
				}
			}
			.message {
				margin: 0;
				width: 100%;
				textarea {
					font-size: 22px;
				}
			}
		}
	} */
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
{
    header .banner .banner-content a img
    {
        margin-bottom: 10px;
    }
    header .banner .banner-content p
    {
        padding: 0 0 80px 100px;
    }
    .popup-form
    {
        width: 320px;
        padding: 20px 10px 30px;
    }
    .contacts .form-wrapper h2
    {
        font-size: 28px;
    }
}
@media only screen and (max-width: 380px)
{
    .calendar .ui-datepicker-calendar td
    {
        padding: 0 4px;
    }
    .calendar .ui-datepicker-prev,
    .calendar .ui-datepicker-next
    {
        top: 18px;
    }
    .calendar .ui-datepicker-month
    {
        font-size: 42px;
    }
    header .banner .banner-content h1
    {
        font-size: 40px;
        line-height: 60px;
    }
    header .banner .banner-content p
    {
        padding: 0 0 80px 80px;
    }
    .rules .small-visible .rule
    {
        width: 80%;
    }
    .rules .small-visible .rule div.content h2
    {
        font-size: 28px;
    }
    .rules .small-visible .rule div.content p
    {
        font-size: 18px;
    }
}
@media only screen and (max-width: 340px)
{
    .calendar .ui-datepicker-calendar td
    {
        padding: 0 3px;
    }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
